[Unit]
Description=Daily S.P.O.O.L. backup timer

[Timer]
OnCalendar=*-*-* 04:30:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
